#nameTxt {
    display: block;
    margin-bottom: 1em;
}

#soundTxt {
    display: block;
    margin-bottom: 1em;
}

#volumeCtrl {
    display: block;
    margin-bottom: 1em;
}

#startTxt {
    display: block;
    margin-bottom: 1em;
}

#endTxt {
    display: block;
    margin-bottom: 1em;
}