#nameTxt {
    display: block;
    margin-bottom: 1em;
}

#soundTxt {
    display: block;
    margin-bottom: 1em;
}

#volumeCtrl {
    display: block;
    margin-bottom: 1em;
}

#startTxt {
    display: block;
    margin-bottom: 1em;
}

#endTxt {
    display: block;
    margin-bottom: 1em;
}

#dimmer {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    /*cursor: pointer;*/
}